<div class="jumbotron">
	<h1>This is my app homepage</h1>
	<p>There are many like it, but this is my own.</p>

	<p>Click here to <%= link_to "Sign Up", "#", class: "btn btn-success btn-lg" %></p>
</div>