<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("128.jpg", alt: "Slothey") %>
      <div class="caption center">
        <h3>Steven Jennsen</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacinia felis et fermentum laoreet. Aliquam erat volutpat. Integer commodo arcu vel purus vulputate dapibus et nec orci. Maecenas non faucibus nisl, et commodo nibh. Aliquam erat volutpat. Quisque faucibus, felis eget convallis venenatis, diam ligula luctus odio.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("128-1.jpg", alt: "Vinylo") %>
      <div class="caption center">
        <h3>Rockey Ruth</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacinia felis et fermentum laoreet. Aliquam erat volutpat. Integer commodo arcu vel purus vulputate dapibus et nec orci. Maecenas non faucibus nisl, et commodo nibh. Aliquam erat volutpat. Quisque faucibus, felis eget convallis venenatis, diam ligula luctus odio.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("128-2.jpg", alt: "Doge") %>
      <div class="caption center">
        <h3>Jerry Ghergins</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacinia felis et fermentum laoreet. Aliquam erat volutpat. Integer commodo arcu vel purus vulputate dapibus et nec orci. Maecenas non faucibus nisl, et commodo nibh. Aliquam erat volutpat. Quisque faucibus, felis eget convallis venenatis, diam ligula luctus odio.</p>
      </div>
    </div>
  </div>
</div>